.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin: 0 0 24px;
}

.modal__label {
  margin-bottom: 24px;
}

.modal__label_type_radio {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.modal__label_type_radio:last-of-type {
  margin-bottom: 32px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  padding: 0;
  height: 20px;
  width: 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  max-height: 436px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;

  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__input {
  margin-top: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
}

.modal__legend {
  margin: 0 0 12px;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__radio-input {
  width: 16px;
  height: 16px;
  accent-color: #000000;
}

.modal__submit {
  height: 36px;
  width: 124px;
  border-radius: 4px;
  background-color: #0000004d;
  color: #fff;
  cursor: pointer;
  border: none;
}

.modal__submit_active {
  background-color: rgba(0, 0, 0, 1);
}

.modal__link-button {
  height: 36px;
  width: 124px;
  border-radius: 4px;
  background-color: #fff;
  color: #0000004d;
  cursor: pointer;
  border: none;
  padding: 0;
}

.modal__button-group {
  display: flex;
  align-items: center;
}

.modal__error {
  color: rgba(255, 77, 0, 1);
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  padding-bottom: 32px;
}

.modal__extra-actions {
  display: flex;
  flex-direction: row;
}

/* New variant for stacked buttons */
.modal__button-group--stacked {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px; /* space between buttons */
  /* align-items: stretch; make buttons full width */
}

/* Optional: style only cancel button for confirm-delete modal */
.confirm-delete__delete-button {
  background: none;
  white-space: nowrap;
  overflow: visible;
  text-overflow: clip;
  min-width: max-content;
  color: rgba(255, 77, 0, 1);

  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.modal__button-cancel {
  border: none;
  background: none;

  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.modal__confirm-text {
  text-align: center;
  margin: 0px;

  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.modal__confirm-text:last-of-type {
  margin-bottom: 40px;
}
