.card {
  position: relative;
  width: 323px;
  height: 326px;
  display: flex;
  justify-content: center;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  padding: 4px 12px;
  background-color: #ffffff;
  border-radius: 4px;

  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.card__image {
  width: 100%;
}
