@font-face {
  src: url("../../../vendor/CabinetGrotesk-Bold.woff") format("woff");
  font-family: "Cabinet Grotesk";
}
.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  /* font-family: "Cabinet Grotesk"; */
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  /* font-style: Bold; */
  font-size: 20px;
  line-height: 24px;
  /* letter-spacing: 0%; */
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
}

.header__add-clothes-btn {
  margin: 0 20px 0 auto;
  border: none;
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 80px;
}

.header__username {
  margin: 0;
}
