.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
}

.header__logo {
  margin-right: 24px;
  cursor: pointer;
}

.header__avatar {
  max-width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header__date-and-location {
  margin: 0;
}

.header__nav-link {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.header__add-clothes-btn {
  margin: 0 20px 0 0;
  padding: 0;
  border: none;
  cursor: pointer;

  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.header__signup-btn {
  margin: 0 20px 0 0;
  padding: 0;
  border: none;
  cursor: pointer;

  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.header__login-btn {
  margin: 0 20px 0 0;
  padding: 0;
  border: none;
  cursor: pointer;

  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
}
