.modal__content_type_image {
  background-color: #fff;
  position: relative;
  max-width: 498px;
  max-height: 610px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;

  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.modal__image {
  max-width: 498px;
  max-height: 498px;
  width: 100%;
}

.modal__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__footer-left {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
  padding-bottom: 32px;
}

.modal__caption {
  margin: 0;
  padding: 20px 0 12px;
}

.modal__weather {
  margin: 0;
}

.modal__button-delete {
  right: auto;
  background: none;
  border: none;
  margin: 24px 33px 73px;
  color: rgba(255, 77, 0, 1);
  cursor: pointer;
}
