.sidebar {
  margin-top: 19px;
}

.sidebar__user-container {
  display: flex;
  align-items: center;
}

.sidebar__username {
  margin: 16px 116px 16px 16px;

  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.sidebar__btn-container {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.sidebar__profile-edit-btn {
  opacity: 1;
  cursor: pointer;
  border: none;

  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.sidebar__logout-btn {
  opacity: 1;
  cursor: pointer;
  border: none;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
