.weather-card {
  position: relative;
  display: flex;
  height: 80px;
  border-radius: 12px;
  overflow: hidden;
}

.weather-card__temp {
  position: absolute;
  margin: 0;
  top: 20px;
  left: 16px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #ffffff;
}

.weather-card__image {
  object-fit: cover;
  object-position: right top;
  width: 100%;
}
